table, th, td { 
    border: 1px solid black; 
    border-collapse: collapse;
}

.clear_table, .clear_th, .clear_td {
    border: none;
}

.complete {
    color: green;
    border-width:3px; 
    border-style:solid;
    border-color: green;
}

.incomplete {
    color: red;
    border-width:3px; 
    border-style:solid;
    border-color: red;
}